.example-spacer {
    flex: 1 1 auto;
    
    
  }  
span{
    padding-right: 1rem;
     
     text-emphasis-color: coral;
}

.card{
  background-color: #29067c;
  color: white;
  padding: 20px;
  margin: 5px;
  width: 100%;
}


.example-card {
  max-width: 100%;
}

nav {
  position: sticky;
  top: -2px;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar {
  margin-bottom: 2px !important;
}
.navbar_color{
  background-color: #3f51b5;
  z-index: 99;
}
.nav_heading{
  color: aliceblue;
    font-weight: bold;
    font-size: 15px;
}
.bar_icon{
  background-color: aliceblue;
    margin: 11px 0px;
}
.theme{
  top: 9px;
    color: aliceblue;
}
@media only screen and (max-width: 600px) {
  .bar_icon{
    height: 32px;
    width: 40px;
  }
  .home_btn{
    display: none;
  }
  .bar_span{
    height: 23px;
    width: 20px;
    margin: 0px -4px;
  }
  .nav_heading{
    font-size: 13px;
  }
}