
.example-card {
  max-width: 400px;
  margin: 60px 591px;
  height: 600px;
}

.example-header-image {
  background-image: url('../../assets/sm.jpg');
  background-size: cover;
  height: 203px;
  width: 142px;
  margin: 24px 115px;
}

  /* toolbar */
  .example-spacer {
    flex: 1 1 auto;
    
    
  }  
span{
    padding-right: 1rem;
     
     text-emphasis-color: coral;
}
  /* Form... */
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}
.ad {
  background-color: #080baa;
  border: none;
  color: white;
  padding: 8px 215px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  border-radius: 25px;
  cursor: pointer;
}
.ad:hover {opacity: 1}
 
.card{
  background-color: #29067c;
  color: white;
  padding: 20px;
  margin: 5px;
}

.for_form{
  margin: 3px 290px;
}


.for_address{
  height: 500px;
}
.for_icon{
  font-size: 50px;
}
.for_text{
  font-size: 21px;
    color: black;
}
::ng-deep.mat-tab-labels {
  display: none !important;
}
.for-buttom{
  margin: 35px 32px;
}
.for_best_product{
  height: 400px;
}
.for_best_product_one{
  height: 240px;
}

.for_cont_tab {
  display: contents;
  margin-bottom: 16px;
  font-size: 20px;
  font-family: auto;
}
@media only screen and (max-width: 600px) {
.table_tr{
  display: grid;
}
.ad{
  padding: 8px 28px;
}
.for_form{
  margin: 0px 0px;
}

.example-card {
  margin: 60px 25px;
}
.example-header-image{
  margin: 24px 66px;
}
}